[Desktop Entry]
Name=National Geographic Wallpaper
GenericName=National Geographic Wallpaper
Comment=Set automatically National Geographic Photo of the Day
Exec=/usr/share/national-geographic-wallpaper/national-geographic-wallpaper.py
Icon=national-geographic-wallpaper
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
X-Ubuntu-Gettext-Domain=national-geographic-wallpaper
Name[es_ES]=extras-national-geographic-wallpaper.desktop
