[Desktop Entry]
Name=National Geographic Wallpaper
Type=Application
Exec=/usr/bin/python3 /opt/extras.ubuntu.com/national-geographic-wallpaper/share/national-geographic-wallpaper/ngdownloader.py
Hidden=false
NoDisplay=false
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
X-GNOME-Autostart-Phase=Applications
X-MATE-Autostart-enabled=true
X-MATE-Autostart-Delay=5
X-MATE-Autostart-Phase=Applications
